@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<form method="post" action="Add">
    Month: <input type="text" name="yearmonth" id="yearmonth"><br>
    Amount: <input type="text" name="amount" id="amount"><br>
    <input type="submit" value="Save">
</form>